<div class="column column-block opponentTracker">
  <h3>Opponent {{opponent.id}}</h3>
  <button {{action 'decreaseDamage'}} >-</button>
  {{opponent.commanderDamage}}
  <button {{action 'increaseDamage'}} >+</button>
</div>
